/* general css */

.container {
	width: 95%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

.containerFooter {
	width: auto;
	max-width: 680px;
	padding: 0 0px;
	margin: 0 auto;
}

.containerFooter .text-muted {
	margin: 20px 0;
	text-align: center;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

/* index.html css */
#text-muted-footer{
	float:none;
	margin: auto;
	text-align: center;
}

/* bestpath.html css */
#advanced-option-link{
	float:right;
	margin-top: -40px;
}

.form-control{
}

.label-input input{
}

.label{
}

#button-form-group {
	margin-top: 40px;
}

.form-inline{
	margin: auto;
}

.legend {
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 6px 8px;
	width: 180px;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#navbar-left {
	float: left;
}

#navbar-right {
	float: right;
	text-align: center;
	margin-top: 0px;
}

.container {
	margin-top: 40px;
}

.containerNavbar {
	padding-left: 50px;
	padding-right: 50px;
}

.logoChat {
	color: red;
}

.logoTo {
	color: green;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

/* about */
#row-about{
	width: 900px;
	float: none;
	margin: 0 auto;
}

#row-edit-profile{
	width: 100%;
}
