<!-- This div contains the view of the best path, which will be calculated after the user selects the source and the destination -->
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Click on the map two locations or search in the boxes</h3>
			<form name="searchForm">
				<div class="form-group">
					<label for="sourceStr">Source</label>
					<input ng-model="ctrl.sourceStr" ng-model-options="{ debounce: 1000 }" ng-change="ctrl.geocodeSrc()" class="form-control" id="sourceStr" placeholder="from where?" required />
					<label for="destinationStr">Destination</label>
					<input ng-model="ctrl.destinationStr" ng-model-options="{ debounce: 1000 }" ng-change="ctrl.geocodeDst()" class="form-control" id="destinationStr" placeholder="to where?" required />
				</div>
<!--
				<div class="form-group">
					<label for="formGroupExampleInput">Source Path:</label></br>
					<label for="formGroupExampleInputA"> Latitude: </label>
					<input ng-model="markers['source'].lat" type="number" class="form-control" id="formGroupExampleInputA" placeholder="Src Latitude"  required/>
					<label for="formGroupExampleInputB"> Lon: </label>
					<input ng-model="markers['source'].lng" type="number"  class="form-control" id="formGroupExampleInputB" placeholder="Src Longitude"  required/>
				</div>

				<div class="form-group">
					<label for="formGroupExampleInput2">Destination Path:</label></br>
					<label for="formGroupExampleInput2A"> Lat: </label>
					<input ng-model="markers['destination'].lat" type="number" class="form-control" id="formGroupExampleInput2A" placeholder="Dst Latitude" required>
					<label for="formGroupExampleInput2B"> Lng: </label>
					<input ng-model="markers['destination'].lng" type="number" class="form-control" id="formGroupExampleInput2B" placeholder="Dst Longitude" required>
				</div>
-->
				<div class="form-group" id="button-form-group">
					<button type="submit" class="btn btn-primary" ng-click="ctrl.findPath()" ng-disabled="searchForm.$invalid">Submit</button>
					<button type="button" class="btn btn-primary" ng-click="ctrl.removeMarkers()" >Remove</button>
				</div>

			</form>
			<h2> Table of the stops </h2>
			<table class="table">
				<thead>
					<td>Line</td>
					<td>Description</td>
				</thead>
				<tbody>
					<!-- Here should be filled with the values of all the stops of the path selected -->
					<tbody>
						<tr ng-repeat="edge in ctrl.geojson">
							<td>{{edge.data.properties.lineId ? edge.data.properties.lineId : 'by walk'}}</td>
							<td>{{edge.data.properties.msg}}</td>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
		<div class="col-sm-6" style="margin-top:40px;">
			<leaflet geojson-nested="true" geojson="ctrl.geojson" markers="ctrl.markers" center="ctrl.center" event-broadcast="ctrl.events" legend="ctrl.legend" tiles="ctrl.tiles" height="480px"></leaflet>
		</div>
	</div>
</div>
