<div class="container">
	<div class="row" id="row-about">
		<div class="col-lg-12" style="margin-top: 60px;">
			<p class="lead">Contact Us</p>
			<p>This team of four students of Politecnico di Torino was built
			in order to develop the Applicazioni Internet project. In particular this website is related to
			the assignment 4, where the main goal is to implement a web chat application for the transport system of Torino.</p>
			<div class="container-signup" style="margin-top: 40px;">
				<h4>Politecnico di Torino</h4>
				<p>Alessio Ciavarella - alessio.ciavarella@polito.it</p>
				<p>Martino Mensio - martino.mensio@polito.it</p>
				<p>Riccardo Persiani - riccardo.persiani@polito.it</p>
				<br>
				<h4>Personal Contact</h4>
				<p>Alessio Ciavarella - alessio.ciavarella@gmail.com</p>
				<p>Martino Mensio - martino.mensio@gmail.com</p>
				<p>Riccardo Persiani - riccardo.persiani@gmail.com</p>
			</div>
		</div>
	</div>

</div>
